# LAB | Feature Engineering

**Load the data**

In this challenge, we will be working with the same Spaceship Titanic data, like the previous Lab. The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv

Metadata

https://github.com/data-bootcamp-v4/data/blob/main/spaceship_titanic.md

In [1]:
#Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
spaceship = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv")
spaceship.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

**Check the shape of your data**

In [3]:
spaceship.shape

(8693, 14)

**Check for data types**

In [4]:
spaceship.dtypes

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

**Check for missing values**

In [5]:
spaceship.isna().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

There are multiple strategies to handle missing data

- Removing all rows or all columns containing missing data.
- Filling all missing values with a value (mean in continouos or mode in categorical for example).
- Filling all missing values with an algorithm.

For this exercise, because we have such low amount of null values, we will drop rows containing any missing value.

In [6]:
spaceship.dropna(inplace=True)

- **Cabin** is too granular - transform it in order to obtain {'A', 'B', 'C', 'D', 'E', 'F', 'G', 'T'}

In [7]:
spaceship[['Deck', 'CabinNumber', 'Side']] = spaceship['Cabin'].str.split('/', expand=True)

In [8]:
spaceship['CabinNumber'] = pd.to_numeric(spaceship['CabinNumber'], errors='coerce')

- Drop PassengerId and Name

In [9]:
spaceship.drop(['PassengerId', 'Name'], axis=1, inplace=True)

In [17]:
spaceship.sample(10)

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Deck,CabinNumber,Side
5203,Earth,0,G/895/S,TRAPPIST-1e,33.0,0,127.0,745.0,9.0,0.0,0.0,1,G,895,S
5475,Earth,1,G/946/P,TRAPPIST-1e,23.0,0,0.0,0.0,0.0,0.0,0.0,0,G,946,P
2155,Europa,0,C/82/P,55 Cancri e,47.0,0,1320.0,428.0,4.0,24.0,0.0,0,C,82,P
1013,Mars,1,F/206/S,TRAPPIST-1e,27.0,0,0.0,0.0,0.0,0.0,0.0,1,F,206,S
6058,Earth,1,G/1039/S,TRAPPIST-1e,25.0,0,0.0,0.0,0.0,0.0,0.0,1,G,1039,S
6534,Europa,0,A/73/P,TRAPPIST-1e,59.0,0,0.0,0.0,0.0,0.0,0.0,1,A,73,P
1991,Earth,0,F/420/P,TRAPPIST-1e,17.0,0,736.0,0.0,2.0,20.0,0.0,0,F,420,P
3883,Earth,0,F/855/P,TRAPPIST-1e,38.0,0,0.0,18.0,30.0,0.0,832.0,0,F,855,P
6950,Earth,1,G/1186/P,PSO J318.5-22,43.0,0,0.0,0.0,0.0,0.0,0.0,0,G,1186,P
5638,Mars,1,E/394/S,TRAPPIST-1e,27.0,0,0.0,0.0,0.0,0.0,0.0,1,E,394,S

- For non-numerical columns, do dummies.

In [14]:
# First convert the boolean columns directly to integers
boolean_columns = ['CryoSleep', 'VIP', 'Transported']
spaceship[boolean_columns] = spaceship[boolean_columns].astype(int)

In [22]:
# Classify the non-numeric columns
non_numeric_cols = spaceship[['HomePlanet', 'Destination', 'Deck', 'Side']]

# Do dummy encoding on the non-numeric columns
spaceship = pd.get_dummies(spaceship, columns=non_numeric_cols.columns, drop_first=True)

In [23]:
spaceship.sample(10)

,CryoSleep,Cabin,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,...,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,Deck_B,Deck_C,Deck_D,Deck_E,Deck_F,Deck_G,Deck_T,Side_S
5141,1,G/881/P,1.0,0,0.0,0.0,0.0,0.0,0.0,0,...,False,True,False,False,False,False,False,True,False,False
7287,0,F/1490/S,45.0,0,810.0,0.0,132.0,198.0,0.0,0,...,False,False,False,False,False,False,True,False,False,True
7437,1,G/1287/P,26.0,0,0.0,0.0,0.0,0.0,0.0,1,...,False,True,False,False,False,False,False,True,False,False
8673,1,G/1494/S,28.0,0,0.0,0.0,0.0,0.0,0.0,1,...,False,True,False,False,False,False,False,True,False,True
169,1,F/41/P,2.0,0,0.0,0.0,0.0,0.0,0.0,1,...,False,True,False,False,False,False,True,False,False,False
7289,0,F/1491/S,64.0,0,19.0,261.0,208.0,0.0,214.0,0,...,False,False,False,False,False,False,True,False,False,True
4176,0,F/917/P,24.0,0,698.0,0.0,51.0,2.0,4.0,1,...,False,True,False,False,False,False,True,False,False,False
7696,0,F/1569/S,29.0,0,487.0,0.0,60.0,12.0,0.0,0,...,True,False,False,False,False,False,True,False,False,True
3633,1,G/639/S,36.0,0,0.0,0.0,0.0,0.0,0.0,1,...,False,True,False,False,False,False,False,True,False,True
4215,0,B/148/P,36.0,0,0.0,1013.0,1.0,16.0,2825.0,0,...,False,True,True,False,False,False,False,False,False,False

**Perform Train Test Split**

In [10]:
#your code here

**Model Selection**

In this exercise we will be using **KNN** as our predictive model.

In [11]:
#your code here

- Evaluate your model's performance. Comment it

In [ ]:
#your code here